# Secrets
.env
.env.local

# Python
__pycache__/
*.py[cod]
venv/
venv_win_backup/
.venv/
env/

# Data & Models (Do not upload large files)
faiss_index_cloud/
*.csv
*.pkl

# IDE
.vscode/
.idea/
