# Secrets
.env
.env.local

# Python
__pycache__/
*.py[cod]
venv/
venv_win_backup/
.venv/
env/

# Data & Models (Do not upload large files except the index)
.cache/
*.log
*.pid
*.csv
*.pkl
!index.pkl

# IDE
.vscode/
.idea/
data/*.zip
