--extra-index-url https://download.pytorch.org/whl/cpu

faiss-cpu
fastapi
groq
langchain
langchain-community
langchain-groq
langchain-huggingface
numpy
pydantic
python-dotenv
rank-bm25
sentence-transformers
streamlit
uvicorn
